<div class="container" style="padding-top: 10px; padding-bottom: 10px">
    <div class="card" style="width: 15rem;">
        <img src="assets\img\IMG_7676.JPG" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Name</h5>
          <h6 class="card-text">Designation</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">email</li>
          <li class="list-group-item">Phone</li>
        </ul>
        <div class="card-body">
          <a routerLink="/update" class="card-link">Edit</a>
          <a href="#" class="card-link">Delete</a>
        </div>
    </div>
</div>

